.page-main {
    .columns {
        .column.main {
            .notification-modal {
                display: none;
            }
        }
    }
}
.modals-wrapper {
    .modal-popup.modal-slide {
        &.notification-popup {
            left: 0 !important;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
            -webkit-transition: all .5s;
            transition: all .5s;

            &._show {
                -webkit-overflow-scrolling: touch;
                overflow-y: auto;
                -webkit-transform: translate3d(0%, 0, 0);
                transform: translate3d(0%, 0, 0);
            }

            .modal-header {
                padding: 16px;
                z-index: 100;

                .action-close {
                    &:before {
                        transition: transform 300ms, opacity 200ms !important;
                    }

                    &:hover {
                        &::before {
                            transform: rotate(90deg);
                        }
                    }
                }
            }

            .modal-inner-wrap {
                background: #ecebeb;;
                bottom: 0;
                padding: 10px;
                transform: unset;
                transition: none;
                height: 295px;
                width: 307px;
                margin: 0;
                box-shadow: 0 10px 24px 0 rgba(54, 61, 77, .15);
                border-radius: 8px;
                color: #222;


                a.notification-see {
                    background: @active__color;
                    color: @color-white;
                    display: inline-block;
                    padding: 0 27px;
                    line-height: 48px;
                    border-radius: 6px;
                    margin-top: @indent__base+4;
                    font-weight: @font-weight__heavier;
                }

                .notification {
                    &-img {
                        position: absolute;
                        top: -50px;
                        left: 0;
                        right: 0;
                        max-height: 100%;
                        max-width: 100%;

                        img {
                            height: 100px;
                            border-radius: 30px;
                        }

                        .notification-desc::-webkit-scrollbar {
                            display: none;
                        }
                        .notification-title {
                            line-height: 28px;
                            font-weight: bolder;
                            margin-bottom: 2rem;
                            font-size: 18px;
                        }

                        .notification-desc {
                            padding: 4px 18px;
                            line-height: 19px;
                            font-size: 13px;
                            max-height: 180px;
                            overflow: auto;
                        }


                    }

                }



                &-desc {
                    line-height: 24px;
                    .lib-font-size(14px);
                }
            }

            .modal-content {
                padding: 16px 38px;
                text-align: center;


            }

        }

        .modal-footer {
            .lib-css(background-color, transparent);
            box-shadow: none;
            text-align: center;
            padding: 0;
        }
    }
}

//
// Mobile View
//_______________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .modal-popup.modal-slide._inner-scroll .modal-inner-wrap {
        height: 364px !important;
        min-height: 360px !important;
        position: absolute !important;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        overflow: visible;
        width: 280px !important;
        left: 50% !important;
        transform: translate(-50%,50%) !important;
    }

}
