<?php
/**
 * @var Popup $block
 */

use OX\NotificationPopup\Block\Popup;

?>
<?php if ($block->getstatus() && $block->checkpagetoshow() == 1): ?>
    <div class="modal-inner-wrap" data-role="focusable-scope">
        <div id="notification-modal" class="notification">
            <div class="notification-modal">
                <div class="notification-img">
                    <img src="media/wysiwyg/<?= /* @noEscape */ $block->getPopupImage(); ?>" alt=”Demo”>
                    <div class="notification-title"><?= /* @noEscape */ $block->getHeading() ?></div>
                    <div class="notification-desc"><?= /* @noEscape */$block->getContent() ?></div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/x-magento-init">

        {
        "*": {
             "example-modal1": {
             "customData" : <?= /* @noEscape */$block->getconfigValue() ?> ,
             "customwidth" :  <?= /* @noEscape */ $block->getwidth() ?> ,
             "customheight" :  <?= /* @noEscape */ $block->getheight() ?> ,
             "customposition" :  <?= /* @noEscape */ $block->getposition() ?>
             }
        }
    }
    </script>

<?php endif; ?>
